<a href="https://colab.research.google.com/github/jeonuenseo/DeepLearning-20F/blob/master/01_HelloPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python tutorial #1

## Hello World!

In [ ]:
print( 'Hello world')
print('Hello world {} + {} = {}'.format(2, 3, 2+3))

Hello world
Hello world 2 + 3 = 5

##Basic datatypes

In [ ]:
x = 3
print(type(x)) #Print"<class 'int'>
print(x)       #Print "3"

<class 'int'>
3

In [ ]:
print(x + 1) # Addition; prints "4"
print(x - 1) # Subtraction; prints "2"
print(x * 2) # Multiplication; prints "6"
print(x ** 2) # Exponentiation; prints "9"

4
2
6
9

##For statement

range: 영역을 설정

In [ ]:
A = range(5)
print(A)

range(0, 5)

A의 세번째 요소 출력

In [ ]:
print(A[2])

2

In [ ]:
for i in range(5):
 #print(i, A[i])
 print('{} ----- {}'.format(i, A[i]))

0 ----- 0
1 ----- 1
2 ----- 2
3 ----- 3
4 ----- 4

exercise
구구단을 작성하시오

In [ ]:
for i in range(9):
  print('{} x {} = {}'.format(2, (i+1), 2*(i+1)))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

##operators

In [ ]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

##Containers
Python includes several built-in container types: lists, dictionaries, sets, and tuples.

##Tuple
A simple immutable (변경할 수 없는, 불변의) ordered sequence of items

In [ ]:
# -*- coding: utf-8 -*-
# creating a tuple
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')
print(months[0])
print("index of 7 ==> " , months[7])

January
index of 7 ==>  August

하나씩 출력하기

In [ ]:
# iterate through them:
for item in months:
 print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index 포함 X
print(t[2:]) # index 포함 O
print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

List

Mutable (바꿀수 있는, 변경가능한) ordered sequence of items of mixed types

In [ ]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)

['hallym', 1, 3.141572, 'hello']

In [ ]:
li[1] = 45
print(li)

['hallym', 45, 3.141572, 'hello']

In [ ]:
li.append('September')
print(li)

['hallym', 45, 3.141572, 'hello', 'September']

리스트에 새로운 것이 뒤에 붙은 것(append)을 확인 가능

In [ ]:
#비어 있는 리스트 만들기
v = []

In [ ]:
#비어있는 리스트에 값 추가하기
for i in range(0,3):
  v.append(i*5)
  print(i, v)

0 [0]
1 [0, 5]
2 [0, 5, 10]

+연산자

In [ ]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

*연산자

In [ ]:
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

Enumeration(열거하기)

In [ ]:
for i, val in enumerate(v):
  print('{} ---> {}'.format(i, val))

0 ---> 0
1 ---> 5
2 ---> 10

In [ ]:
v2 = [ 'A', 'B', 'C', '0', '1', '2', '3']
print(v2)

['A', 'B', 'C', '0', '1', '2', '3']

In [ ]:
for i, val in enumerate(v2):
 print('{} ---> {}'.format(i, val))

0 ---> A
1 ---> B
2 ---> C
3 ---> 0
4 ---> 1
5 ---> 2
6 ---> 3

In [ ]:
List comprehension(LC)

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)

In [ ]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

or, equivalently:

In [ ]:
squares = [x**2 for x in range(10)]

In [ ]:
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
word = '메롱'
print([c * 2 for c in word])

['메메', '롱롱']

In [ ]:
A = [n for n in range(10) if n % 2 == 0]

In [ ]:
print(A) # LC 에서 조건문을 통해 특정 값들을 필터링할 수 있다

[0, 2, 4, 6, 8]

Lamda (익명함수)

In [ ]:
def jegob(x):
    return x**2

In [ ]:
g = lambda x: x**2

In [ ]:
g(7)

49

In [ ]:
print(g(8))

64

In [ ]:
print(g(9))

81

In [ ]:
f = lambda x, y: x + y

In [ ]:
f(2, 3)

5

인자가 없는 Lamda

In [ ]:
f = lambda: True

In [ ]:
f()

True